/*body {background-color :rgb(87, 146, 157);} */

.header-container {
    /*background-image: url("./bg_grren.png"); *//* Replace with the actual image URL */
    background-image: url("./sunset.jpg");
    background-size: cover;
    background-position: left;
    /*background-color: darkslategrey;*/
    color: black; /* Adjust text color based on your background image */
    padding: 20px;
    font-family: Menlo, monospace;
    text-align:center;
  }
  
  .logo-container {
    padding-left: 5px;
    align-self: flex-start;
    margin: 0 auto; /* Center the logo */
    margin-left: 10px;
  }
  
  .logo {
    width: 10%;
    height: 10%;
  }
  
  .title-container {
    margin-top: 15px;
    color: whitesmoke; /* Adjust text color based on your background image */
  }
  
  h1 {
    font-size: 54px;
    font-weight: bold;
    margin: 0;
  }
  h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
  }

  .darkMode {
    color: whitesmoke; /* Adjust text color based on your background image */
    padding: 5px;
    font-family: Menlo, monospace;
    text-align:right;
    font-size: 15px;
    font-weight: bold;
    margin: 0; 
  }